<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Admisión</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>22 Junio - 6 Septiembre 2016</h4>
                                    <h4 class="subheading">Preinscripción</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El proceso de preinscripción permite a los futuros alumnos reservar una plaza para cursar la próxima edición del Máster. Es importante formalizar la reserva para asegurar la participación, puesto que el número de plazas es limitado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 Septiembre - 10 Septiembre 2016</h4>
                                    <h4 class="subheading">Revisión de Documentación</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Una vez completada la preinscripción, se revisará la documentación aportada por los candidatos. Si se cumplen todos los requisitos se informará de ello al alumno y se procederá a convocarle para realizar una entrevista personal.
En caso contrario, se notificará al candidato de los requisitos no cumplidos y se procederá a la devolución del importe de su reserva de matrícula. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11 Septiembre - 15 Septiembre 2016</h4>
                                    <h4 class="subheading">Entrevista Personal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> La entrevista personal permitirá al alumno conocer más detalles sobre el programa de Máster, el contenido de las diferentes asignaturas, así como describir sus conocimientos y experiencia previa. La entrevista será realizada por profesores del equipo de dirección del programa. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>16 Septiembre - 22 Septiembre 2016</h4>
                                    <h4 class="subheading">Matrícula</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Los candidatos que han recibido la notificación positiva sobre su admisión podrán hacer efectiva su reserva de plaza y realizar la matrícula en el programa de Máster. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="https://www.urjc.es/estudios/master/910-ingenieria-informatica">INFORMACIÓN
                                    <br>MÁS
                                    <br>DETALLADA</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>